html{
    scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Roboto Condensed", sans-serif;
}
body{
    font-family: "Roboto", sans-serif;
}
#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    border: 8px solid #cc1a1a;
    border-top-color: #f9d2d2;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    -webkit-animation: animate-preloader 0.6s linear infinite;
    animation: animate-preloader 0.6s linear infinite;
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}
.img-preloader{
    top: 50%;
    width: 62px;
    height: 62px;
    position: absolute;
    left: 50%;
    margin-top: -31px;
    margin-left: -31px;
}
@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.container{
    padding: 20px;
}
.user-item .nav-link, .nav-car a{
    color: #3f00ff !important;
}
.user-item .nav-link:hover,
.user-item .nav-link:focus, .nav-car a{
    background-color: #1b00ff17 !important;
}
.nav-car a{
    border-radius: 15px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: rgb(236, 48, 49);
    background-color: #ff000017;
    border-radius: 25px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: rgb(250, 43, 55);
    font-weight: bolder;
    background-color: #ff000017;
    border-radius: 25px;
}
.navbar-light .navbar-nav .active > .nav-link-user{
    background-color: #1b00ff17;
}
.navbar-nav .nav-link{
    padding: 0.5rem;
    margin: 2px;
}
.navbar-brand{
    margin-left: 5em;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 0.9rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: rgba(231, 107, 107, 0.83);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 1.25rem;
}
.dropdown-menu-user{
    background-color: rgba(107, 124, 231, 0.83);
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #ffffff;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.dropdown-item:hover,
.dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #ffffffd6;
    border-radius: 7px;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #3f01ff99;
    border-radius: 7px;
}
.bg-light {
    background-color: #ffffff!important;
}
.titulo-seccion{
    margin-bottom: 20px;
}
.titulo-seccion h3{
    font-size: 1.3rem;
}
.producto-link{
    color: #313131;
    -webkit-transition:all .5s ease; /* Safari y Chrome */
    -moz-transition:all .5s ease; /* Firefox */
    -o-transition:all .5s ease; /* IE 9 */
    -ms-transition:all .5s ease; /* Opera */
}
.producto-link:hover{
    color:#fa2b37;
    text-decoration: none;
    -webkit-transition:all .5s ease; /* Safari y Chrome */
    -moz-transition:all .5s ease; /* Firefox */
    -o-transition:all .5s ease; /* IE 9 */
    -ms-transition:all .5s ease; /* Opera */
}
.producto-img-item {
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}
.imagen-producto{
    border-radius: 25px;
    max-width: 100%;
    -webkit-transition:all .5s ease; /* Safari y Chrome */
    -moz-transition:all .5s ease; /* Firefox */
    -o-transition:all .5s ease; /* IE 9 */
    -ms-transition:all .5s ease; /* Opera */
}
.imagen-producto:hover{
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
}
.cabecera-superior{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 21px 21px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 2;
}
.etiqueta-nuevo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 1;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    background: -webkit-gradient(linear, left top, right top, from(#aa9bff), to(#4b1fff)) !important;
    background: linear-gradient(to right, #aa9bff, #4b1fff) !important;
}
.etiqueta-oferta{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 1;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    background: -webkit-gradient(linear, left top, right top, from(#ff9bd2), to(#ff1f38)) !important;
    background: linear-gradient(to right, #ff9bd2, #ff1f38) !important;
}
.titulo-producto{
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
.precio-producto{
    font-size: 19px;
    font-weight: 800;
    text-align: right;
    font-family: monospace;
    margin: -10px 0 0 0;
}
.normal-oferta{
    font-size: 14px;
    color: red;
    text-decoration:line-through;
}
.oferta{
    color: blue;
}
.section-two{
    background-image: -moz-linear-gradient(top, #ffffff 0%, #ffffff 10%, #ff5d2d7d 54%, #ffba0082 80%,#ffffff 100%);
    background-image: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 10%, #ff5d2d7d 54%, #ffba0082 80%,#ffffff 100%);
    background-image: -ms-linear-gradient(top, #ffffff 0%,#ffffff 10%, #ff5d2d7d 54%, #ffba0082 80%,#ffffff 100%);
}
.card{
    border-radius: 20px;
    margin: 10px;
    background-color: #c4e1fb80;
}
/* Login */
.box-registro{
    background-image: -moz-linear-gradient(16deg, #fc2f2fc7 0%, #ff5d2dc7 64%, #ffba00c7 100%);
    background-image: -webkit-linear-gradient(16deg, #fc2f2fc7 0%, #ff5d2dc7 64%, #ffba00c7 100%);
    background-image: -ms-linear-gradient(16deg, #fc2f2fc7 0%, #ff5d2dc7 64%, #ffba00c7 100%);
    background-size: 100% auto;
    border-radius: 30px;
    color: #ffffff;
}
.login-item, .register-item, .login-form, .register-form{
    padding: 80px 70px;
    height: 500px;
    display: table;
}
.login-item h2,.register-item h2, .verify-item h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    color: #fff;
    margin-bottom: 17px;
}
.login-item h3, .register-item h3, .verify-item h3{
    font-size: 26px;
    line-height: 36px;
    font-weight: 600;
    margin-bottom: 10px;
}
.login-item label, .login-form label, .verify-item label{
    color: #777777;
    font-size: 14px;
    margin-bottom: 0;
    margin-left: 10px;
}
.register-item ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.register-item li{
    list-style: disc;
    text-align: left;
    margin-left: 3em;
    color: white;
    font-weight: 500;
    line-height: 28px;
}
.verify-item{
    color: #ffffff;
}
/* Estilo Boton */
.btn-default{
    display: inline-block;
    padding: 9px 42px;
    border-radius: 50px;
    background-color: #fc2f2f;
    border: 1px solid #f4f4f4;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    font-weight: 400;
    border: 1px solid #fc2f2f;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.btn-default:hover{
    background-color: #fff;
    color: #fc2f2f;
    text-decoration: none;
}
.btn-full{
    width: 100%;
    margin: 10px 0;
}
.btn-link {
    color: #fc2f2f;
}
/* Input form */
.input-reset{
    display: inline-block;
    position: relative;
}
/* Footer */
footer{
    background-image: -moz-linear-gradient(top, #ffffff 0%,#f5dede 10%, #f9131087 54%, #f91008b0 90%,#f9100899 100%);
    background-image: -webkit-linear-gradient(top, #ffffff 0%,#f5dede 10%, #f9131087 54%, #f91008b0 90%,#f9100899 100%);
    background-image: -ms-linear-gradient(top, #ffffff 0%,#f5dede 10%, #f9131087 54%, #f91008b0 90%,#f9100899 100%);
}
footer .credito-erp{
    padding: 10px 0 0 0;
    font-weight: 600;
}
footer .credito-desarrollo{
    margin: 0;
    font-weight: 700;
    font-size: small;
    color: #ffffff;
}
.credito-desarrollo a{
    color: #dcdcdc;
}
.section-verificación{
    background-image: -moz-linear-gradient(16deg, #fc2f2fc7 0%, #ff5d2dc7 64%, #ffba00c7 100%);
    background-image: -webkit-linear-gradient(16deg, #fc2f2fc7 0%, #ff5d2dc7 64%, #ffba00c7 100%);
    background-image: -ms-linear-gradient(16deg, #fc2f2fc7 0%, #ff5d2dc7 64%, #ffba00c7 100%);
}
.section-verificación h2{
    color: white;
    font-weight: 600;
}
.section-verificación p{
    color: white;
}
.section-verificación .container{
    padding:130px 0;
}
.box-acceso{
    margin: 15px;
}
.box-acceso p{
    margin: 0 15px;
    height: 52px;
    text-align: center;
}
.row-account{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0 !important;
    margin-left: -15px;
}
.producto-imagen-seccion {
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2rem;
    overflow-x: auto;
}
.producto-imagen-miniatura img{
    box-shadow: 0 1px 2px rgba(0,0,0,.075);
    border-radius: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    display: -ms-flexbox;
    display: flex;
    margin-right: 1rem;
    max-width: 7rem;
    padding: .5rem;
}
.producto-imagen-miniatura:hover {
    opacity: .5;
}
.producto-imagen-show{
    max-width: 80%;
    height: auto;
    width: 100%;
}
.btn-productos div{
    margin: 0.1em 0;
}
.button-car{
   background-color: #3f00ff !important;
    border-color: #3f00ff !important;
}
.button-car a{
    color : #ffffff;
}
.button-car:hover{
    color: #3f00ff !important;
    background-color: #ffffff !important;
    border-color: #8b8b8b !important;
}
.button-car:hover a {
    color: #3f00ff;
    text-decoration: none;
}
.badge{
    border-radius: 1.25rem;
}
.carro-compras{
    width: 400px;
    position: fixed;
    right: 0;
    height: 100%;
    min-height: 100%;
    margin-top: 0;
}
.carro-item{
    min-height: 36em;
}
.carro-vacio{
    display: contents;
}
.carro-vacio-contenido{
    margin: 15em 0;
}
.img-car{
    max-width: 5em;
}
.text-cart{
    text-align: left;
    font-size: 15px;
}
.text-cart a{
    color: #fa2f2f;
}
.text-cart a:hover{
    color: #fa2f2f;
}
.button-cart i{
    margin: 20px 0px;
    font-size: 22px;
    color: #fa2f2f;
}
/*** Vista Movil ***/
@media (max-width: 576px) {
    .section-verificación .container{
        padding: 85px 0;
    }
    .nav-link{
        text-align: center;
    }
    .carro-vacio-contenido {
        margin: 10em 0;
    }
    .carro-item{
        min-height: 26em;
    }
}
